
/*Cor de fundo do autocomplete*/
input:-webkit-autofill{

	-webkit-box-shadow: 0 0 0 30px white inset;
}

/* Cor do texto do autocomplete */
input:-webkit-autofill {
    -webkit-text-fill-color: black !important;
}

/*=============[ Tables ]----------------*/

	
.table{

	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 84%;
	text-align: center;
	background-color: #fff;
}

.table td, .table th{

	border-bottom: 1px solid #ddd;
	padding: 18px;

}


tr:nth-child(even){

	background-color: #FBFAFA;
}


.table th{

	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #cdcdcd;
	color: white;
	text-shadow: 1px 1px 1px #111;
}


.container{
				
	margin-top: 10px;
	display: flex;
	align-items: center;
  	justify-content: center;
  	flex-direction: column;
  	margin-bottom: 5px;	

}

/*=========[ Pedidos ]===========*/

.menucontrollers{

	margin-top: 25px;
	display: flex;
 	align-items: left;
  	justify-content: left;
  	flex-direction: row;
  	width: 84%;
  	padding: 5px;
}


.menucontrollers a{/*O elemento <a> Continua o Mesmo, mas menucontrollers tem alterações*/

	text-decoration: none;
	border: 2px solid #000;
	padding-right: 50px;
	padding-bottom: 10px;
	margin-right: 5px;
	padding-left: 35px;
	color: #fff;
	background-color: #ca0035;
	font: 13px verdana;
}

#menuConsulta{

	display: flex;
 	align-items: center;
  	justify-content: center;
  	flex-direction: row;
  	padding: 10px;	
}

/*=======[ Listas ]======*/

.listPedsHome{

	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.listapedHome{

	border: 2px solid black;
	list-style-type: none;
	width: 17%;
	padding: 10px;
	float: left;
	margin-left:  15px; 
	margin-top: 3%;
	margin-bottom: 5px;
	border-radius: 5px;
	background-color: #ffd700;

}


.listPedsConsultar{

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 60%;
	margin-top: 5px;


}

.listapedConsultar{

	list-style-type: none;
	width: 30%;
	padding: 10px;
	float: left;
	margin-left:  15px; 
	margin-top: 3px;
	margin-bottom: 5px;
	border-radius: 5px;
	border: 2px solid black;
	background-color: #ffd700;
}


li{

	padding-top: 5px;
	border-bottom: 1px solid #ccc;
}



h2{

	text-align: center;
	margin-top: 20px;
}



/*========================[ Forms ]===================*/

.formulario{

	display: flex;
 	align-items: center;
  	justify-content: center;
  	flex-direction: column;
  	margin-top: 25px;
	margin-bottom: 90px;


}


.formularioPed{

	margin-top: 5px;
	display: flex;
 	align-items: center;
  	justify-content: center;
  	flex-direction: row;
  	width: auto;
  	margin-left: 100px;
}



.formPed{

	padding: 18px;
	width: 590px;
	height: 220px;
}


form{

	
	
	padding: 18px;
	width: 590px;
	height: 290px;
	
}

.formfun{

	padding: 18px;
	width: 590px;
	height: 350px;
}


.fieldsetfun{

	padding: 10px;
	font-family: Helvetica, sans-serif;
	height: 95%;
	border: 2px solid #000;
	
}

fieldset{

	padding: 10px;
	font-family: Helvetica, sans-serif;
	border: 2px solid #000;
}

		
label{

	display: block;
	margin-left: 2px;
	margin-top: 5px;

}


.input{
	display: block;
	width: 100%;
	height: 35px;/**/
	border-radius: 10px;
	border: 1px solid #ccc;
	outline: none;
	font-size: 13px;
	text-indent: 10px;
	background-color: #FFFFFF;

}

input[type='checkbox']{

		margin-top: 5px;
		cursor: pointer;
}


/*=======[ Form Divisão ]========*/

#esquerda{

	float: left;
	margin-top: 5px;
	margin-right: 5px;
	width: 45%;
}

#direita{
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	width: 50%;
	height: 70%;
}


#esquerdaitem{

	float: left;
	margin-top: 5px;
	margin-right: 5px;
	width: 34%;
}

#direitaped{

	float: right;
	margin-top: 5px;
	margin-right: 5px;
	width: 45%;
}

#direitab{/*Nova alteração */

	float: right;
	margin-top: 25px;
	margin-right: 5px;
	height: auto;
}

/*====[ Botões ]====*/

.botao {

	margin-top: 5px;
	margin-left: 190px;
	padding: 5px;
	border: 2px solid black;
	border-radius: 5px;
	width: 150px;
	background-color: #ca0035;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
}


#btnCancelar{

	margin-bottom: 170px;
	padding: 5px;
	border: 2px solid black;
	border-radius: 5px;
	width: 150px;
	background-color: #ca0035;
	color: #fff;
	font-size: 15px;
	cursor: pointer;

}

#btnGuardar{
	
	padding: 5px;
	border: 2px solid black;
	border-radius: 5px;
	width: 150px;
	background-color: #ca0035;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
	margin-top: 5px;
	
}


#btnNewItemPed{

	border: 2px solid black;
	border-radius: 15px;
	padding: 10px;
	margin-top: 5px;
	background-color: #ca0035;
	font: 13px verdana;
	color: #fff;
	cursor: pointer;
	margin-top: 35px;
}


.btneditar{

	text-decoration: none;
	border: 2px solid black; 
	border-radius: 5px;
	background-color: #ca0035;
	color: white;
	padding: 5;
	font: 13px verdana;
	cursor: pointer;
}

.btnPed{

	margin-top: 7px;
	padding: 5px;
	border: 2px solid black;
	border-radius: 5px;
	width: 150px;
	background-color: #ca0035;
	color: #fff;
	font-size: 15px;
	cursor: pointer;

}


select{

	width: 270px;
	height: 30px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 5px;


}

.selectfun{

	width: 100%;
	height: 30px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 5px;

}

.selectped{

	width: 250px;
	height: 30px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 5px;
}

#selectmesa{

	width: 120px;
	height: 30px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 5px;
}
